<template>
  <ul>
    <user-item v-for="user in users" :key="user.id" :name="user.fullName" :role="user.role"></user-item>
  </ul>
    <button @click="submitThis">SAVE CHANGE</button>
</template>

<script>
import UserItem from './UserItem.vue';

export default {
  components: {
    UserItem,
  },
  inject: ['users'],
  data(){
    return{
      changedSaved: false
    }
  },
  methods: {
    submitThis(){
      this.changedSaved = true;
    }
  },
  beforeRouteLeave(to, from, next){
    console.log(to, from);
    if(this.changedSaved){
      next();
    }else {
      const leaveIt = confirm('Are you sure ? ');
      next(leaveIt);
    }
  }
};
</script>

<style scoped>
ul {
  list-style: none;
  margin: 2rem auto;
  max-width: 20rem;
  padding: 0;
}
</style>